# Python files
*.pyc
__pycache__/

# Virtual environment
venv/
.env/

# Django-specific
db.sqlite3
/static/
/media/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp

# Git
*.orig
.DS_Store

# Node.js (if you use Node for frontend assets)
node_modules/
npm-debug.log

# Coverage reports
htmlcov/
*.cover
.coverage
*.coverage.*

# Test output
.tox/
